@media (max-width: 1120px) {
    .logo {
        max-width: 190px;
    }

    .character-selection {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .characters {
        margin-top: 37px;
    }

    .title {
        font-size: 15px;
    }

    .character-list {
        gap: 9px;
    }

    .character img {
        width: 80px;
    }

    .big-character {
        width: 350px;
        height: 350px;
    }

    .character-description {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}